@{
    ViewData["Title"] = "SMS";
}

@using(Html.BeginForm("Detalles","SMS", FormMethod.Post))
{
    <div>
        <h3>@Html.Label("Mensaje")</h3>
        <textarea rows="8" cols="40" name="Mensaje" id="Mensaje"></textarea>
    </div>
    <button>Enviar</button>
}