@{
    ViewData["Title"] = "SMS";
}

@using(Html.BeginForm("Detalles","SMS", FormMethod.Post))
{
    <ol>
        <li>
            @Html.Label("Mensaje")
        </li>
        <li>
            @Html.TextArea("Mensaje")
        </li>
    </ol>
   <button>Enviar</button>
}
