@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Av. Zamácola 207, Interior 107<br />
    Cayma, Arequipa - Peru<br />
    <abbr title="Telefono">T:</abbr>
    +51 994477858
</address>

<address>
    <strong>Informes:</strong> <a href="mailto:Support@example.com">informes@grupobscit.com</a><br />
    <strong>Ventas:</strong> <a href="mailto:Support@example.com">ventas@grupobscit.com</a><br />
</address>
