@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
        <h1 class="display-3">BSCIT SMS : DEMO para colegios</h1>
        <p class="lead">Esta demo solo funciona bajo ciertos parametros</p>
        <p>
            <a href="@Url.Action("Index", "SMS")" class="btn btn-lg btn-success" role="button">
            <span>Enviar mensajes</span>
            </a>
            <a href="@Url.Action("Index", "SMSBash")" class="btn btn-lg btn-success" role="button">
            <span>Enviar desde archivos</span>
            </a>
        </p>
</div>